


/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/

body[b-cw7ti34n6a] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outerContainer-questions[b-cw7ti34n6a] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid red; */
    width: 80vw;
    height: 1700px;
 
}

.innerContainer-questions[b-cw7ti34n6a] {
    /* border: 1px solid blue; */
    background-color: rgb(244, 242, 242);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*margin: 40px;*/
 
    padding: 20px;
    width: 80vw;
    height: 1600px;
}

.partOne[b-cw7ti34n6a] {
    /* border: 1px solid rebeccapurple; */
    width: 45%;
    height: 30px;
    padding-left: 5px;
    padding-top: 5px;
}

.partTwo[b-cw7ti34n6a] {
    /* border: 1px solid red; */
    width: 10%;
    height: 30px;
}

.partThree[b-cw7ti34n6a] {
    /* border: 1px solid orange; */
    width: 45%;
    height: 30px;
    display: flex;
    flex-direction: row;
}

/*////////////////////////
    2. Typography
////////////////////////*/

body[b-cw7ti34n6a] {
    font-family: Poppins, sans-serif;
}

/*////////////////////////
    2. Components
////////////////////////*/


/* Buttons */
.btn_indienen[b-cw7ti34n6a] {
    width: 120px;
    height: 30px;
    margin-left: 20px;
    background-color: #7ec6ec;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.btn_blue[b-cw7ti34n6a] {
    width: 80%;
    height: 30px;
    /* margin: 5px 0px; */
    background-color: #7ec6ec;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.btn_darkBlue[b-cw7ti34n6a] {
    width: 30%;
    height: 55px;
    margin: 5px 0px;
    background-color: #7ec6ec;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.btn_red[b-cw7ti34n6a] {
    width: 30%;
    height: 50px;
    margin: 5px 0px;
    background-color: rgb(237, 107, 97);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.btn_orange[b-cw7ti34n6a] {
    width: 30%;
    height: 50px;
    margin: 5px 0px;
    background-color: rgb(230, 195, 94);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}



/*////////////////////////
    3. Areas
///////////////////////*/



/*///////////// 3.1 Navbar /////////////*/

.Vragen_rapportage_nav[b-cw7ti34n6a] {
    padding: 10px 20px;
    margin: 20px 0px;
    border-radius: 5px;
    /* border: 1px solid rgb(228, 225, 225); */
    width: 100%;
    height: 50px;
    text-align: center;
}

/*///////////// 3.2 Questions /////////////*/


.wrapper-questions[b-cw7ti34n6a] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.wrapper-questions_noticedinHouse[b-cw7ti34n6a] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 5px;
}

.wrapper-questionsClient[b-cw7ti34n6a] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 5px;
}

.wrapper-questions_incident[b-cw7ti34n6a] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 5px;
}

.wrapper-questionsFormerAgreements[b-cw7ti34n6a] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 5px;
}

.wrapper-questionsOwnTasks[b-cw7ti34n6a] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
}

.wrapper-questions_TruthStatement[b-cw7ti34n6a] {
    /* border: 1px solid rebeccapurple; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 5px;
}

.form-controller[b-cw7ti34n6a] {
    height: 30px;
    width: 100px;
    align-content: center;
    border: 1px solid rgb(228, 225, 225);
    border-radius: 5px;
}

.label-houseNumber[b-cw7ti34n6a] {
    font-size: 16px;
    margin-right: 10px;
}

.form-select[b-cw7ti34n6a] {
    height: 30px;
    width: 60px;
    border: 1px solid rgb(228, 225, 225);
}


.form-causeVisit[b-cw7ti34n6a],
.house[b-cw7ti34n6a] {
    width: 100%;
    height: 30px;
    font-size: 16px;
    border: 1px solid rgb(228, 225, 225);
    border-radius: 5px;
}

.form-check-inline_afspraken[b-cw7ti34n6a] {
    margin-left: -25px;
}

.form-selection_house[b-cw7ti34n6a] {
    width: 40%;
    height: 30px;
    font-size: 16px;
    border: 1px solid rgb(228, 225, 225);
    border-radius: 5px;
}


.form-DatumAankomst[b-cw7ti34n6a],
.form-selectArivallTime[b-cw7ti34n6a],
.form-foundClients[b-cw7ti34n6a],
.form-activity[b-cw7ti34n6a],
.form-stateOfHouse[b-cw7ti34n6a],
.form-select_incidentTwo[b-cw7ti34n6a] {
    width: 100%;
    height: 30px;
    font-size: 16px;
    border: 1px solid rgb(228, 225, 225);
    border-radius: 5px;
    color: black;
}

.form-noticedinHouse[b-cw7ti34n6a] {
    width: 90%;
    height: 50px;
    font-size: 16px;
    border: 1px solid rgb(228, 225, 225);
    border-radius: 5px;
    color: black;
}

.form-controlUnwantedPersons[b-cw7ti34n6a] {
    width: 70%;
    height: 70px;
    font-size: 16px;
    border: 1px solid rgb(228, 225, 225);
    border-radius: 5px;
    color: black;
    padding-left: 20px;
}

.btn-outline-secondary[b-cw7ti34n6a] {
    color: black;
    height: 30px;
}


.partOne-noticedinHouse[b-cw7ti34n6a] {
    /* border: 1px solid rebeccapurple; */
    width: 45%;
    height: 40px;
    padding-left: 5px;
    padding-top: 5px;
}

.partOne-newDates[b-cw7ti34n6a] {
    /* border: 1px solid rebeccapurple; */
    width: 45%;
    height: 60px;
    padding-left: 5px;
    padding-top: 5px;
}

.form-check-label[b-cw7ti34n6a],
.incidentRadio1[b-cw7ti34n6a] {
    margin: 0 5px
}

.input-group_afspraken[b-cw7ti34n6a] {
    width: 400px;
}


.link_login_loginHelp a[b-cw7ti34n6a] {
    color: rgb(135, 133, 133);
    text-decoration: none;
    padding-bottom: 50px;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
}

.ButtonLine[b-cw7ti34n6a] {
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}




/*body {
    background-color: #ededed;
}*/

/* Begin navbar */
/*.Vragen_rapportage_nav {
    background-color: white;
    padding: 10px 20px;
    margin: 10px 0px;
    border-radius: 5px;
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.10);
}

    .Vragen_rapportage_nav h3 {
        font-size: 20px;
        font-weight:bold;
        letter-spacing: 2px;
        text-align:center;
    }*/
/* End navbar */

/* Begin container */
/*.Vragen_rapportage_container {
    width: 80%;
    background-color: white;
    margin-right: 50px;
    margin-left: 150px;
    margin-bottom: 200px;
    padding: 30px 20px;
    border-radius: 10px;
}*/
/* End container */

/* Begin collumn */
/*.form-row {
    width: 50%;
    display: flex;
}

.col {
    padding-bottom: 15px;
    margin-bottom: 0;
}

    .col p {
        margin-bottom: 0;
        padding-top: 5px;
    }*/
/* End collumn */

/* Begin vragen */
/*.container_vragen_rapportage_huisnummer p,
.container_vragen_rapportage_woningSelectie p,
.container_vragen_rapportage_AanleidingBezoek p,
.container_vragen_rapportage_DatumAankomst p,
.container_vragen_rapportage_TijdAankomst p,
.container_vragen_rapportage_AangetroffenClienten p,
.container_vragen_rapportage_AangetroffenClienten p,
.container_vragen_rapportage_AangetroffenWoning p,
.container_vragen_rapportage_Waarneming p,
.container_vragen_rapportage_IncidentVoorgevallen p,
.container_vragen_rapportage_IncidentVoorgevallenJa p,
.container_vragen_rapportage_OngewenstePersonen p,
.container_vragen_rapportage_AfsprakenClient p,
.container_vragen_rapportage_VoorgaandeAfspraken p,
.container_vragen_rapportage_Afspraken p,
.container_vragen_rapportage_Actie p,
.container_vragen_rapportage_waarheidVerklaring {
    text-align: left;
    padding-top: 15px;
    margin-left: 15px;
}*/

/* End Vragen */

/* Begin Huisnummer */
/*.Vragen_rapportage_huisnummerBox {
    width: 100%;
    height: 35px;
    border-style: solid 1px;
    border-radius: 5px;
    border-color: #7ec6ec;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.Vragen_rapportage_huisnummer {
    margin: 5px;
}

.btn_indienen {
    width: 100%;
    height: 35px;
    margin-left: 20px;
    background-color: #7ec6ec;
    border: none;
    border-radius: 20px 20px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}*/
/* End Huisnummer */

/* Begin WoningSelectie */

/*.dropdown_login_domain {
    width: 80%;
    height: 35px;
    margin-left: 5px;
}*/
/* End WoningSelectie */

/* Begin AanleidingBezoek */

/*.AanleidingBezoek {
    width: 50%;
    height: 35px;
    margin-left: 5px;
}*/
/* End AanleidingBezoek */

/* Begin DatumAankomst */

/*.DatumAankomst,
.TijdAankomst {
    width: 50%;
    height: 35px;
    margin-left: 5px;
}*/

/* Begin DatumAankomst */

/* Begin Bezigheid client */

/*.input-group .btn,
.form-control_Bezigheid {
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

.form-control_Bezigheid {
    width: 320px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}*/

/* End Bezigheid client */

/* Begin text boxen en radio buttons */
/*.input-group_Waarneming,
.form-check-inline_waarneming,
.input-group_waarneming,
.form-check-inline_incident,
.form-group_ongewenst,
.input-group_afspraken {
    margin-left: 5px;
}*/
/* End text boxen en radio buttons */


/* Begin Incident voorgevallen */
/*.form-select_incident {
    width: 320px;
    padding: 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}*/
/* End Incident voorgevallen */


/*.btn_blue {
    width: 50%;
    height: 35px;
    margin: 5px 0px 5px 150px;
    background-color: #7ec6ec;
    border: none;
    border-radius: 20px 20px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}*/


/* Begin Nieuwe of herhaalde afspraken */
/*.input-group_afspraken {
    width: 80%;
    margin-left: 0;
}*/
/* End Nieuwe of herhaalde afspraken */

/*.Vragen_rapportage_GenereeRapportage,
.Vragen_rapportage_RapportageWissen,
.Vragen_rapportage_RapportageAnnuleren {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
}

.btn_darkBlue {
    width: 20%;
    height: 55px;
    margin: 5px 0px;
    background-color: #2b6685;
    border: none;
    border-radius: 20px 20px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

    .btn_darkBlue:hover {
        background-color: #1861ab;
    }

    .btn_red {
        width: 20%;
        height: 50px;
        margin: 5px 0px;
        background-color: #f5736e;
        border: none;
        border-radius: 20px 20px;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }

    .btn_red:hover {
        background-color: #f0160e;
    }

    .btn_orange {
        width: 20%;
        height: 50px;
        margin: 5px 0px;
        background-color: #f5c66e;
        border: none;
        border-radius: 20px 20px;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
    }

.btn_orange:hover {
    background-color: #f7ad00;
}

.link_login_loginHelp a {
    color: rgb(135, 133, 133);
    text-decoration: none;
    padding-bottom: 50px;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
}

.ButtonLine {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}


.media-img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
}

    .media-img:hover {
        transform: scale(10.1);
    }

.media {
    display: flex;
    align-items: flex-start;
}

.media-body {
    flex: 1;
}

.media-img-wrapper {
    width: 200px;
    text-align: center;
}

@media (max-width:1023.98px) {
    .media {
        flex-direction: column;
    }

    .media-img-wrapper {
        width: 100%;
        height: auto;
    }
}*/

