body[b-c297i7ee6f] {
    margin-bottom: 0px;
    background: white;
}

.parent[b-c297i7ee6f] {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1[b-c297i7ee6f] {
    grid-area: 1 / 1 / 6 / 2;
    justify-self: left;
}

    .div1 img[b-c297i7ee6f] {
        width: 200px;
        padding-top: 30%;
        opacity: .7;
    }

.div2[b-c297i7ee6f] {
    grid-area: 1 / 2 / 6 / 5;
    margin-top: 50px;
    justify-self: center;
}

.form_login_logo[b-c297i7ee6f] {
    max-width: 110%;
    max-height: 100%;
    display: flex;
    justify-content: center;
}

h2[b-c297i7ee6f] {
    margin: 50px 100px;
    text-align: center;
    color: #7ec6ec;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textbox_login_email[b-c297i7ee6f] {
    width: 400px;
    position: relative;
}

.textbox_login_password[b-c297i7ee6f] {
    width: 400px;
    position: relative;
}

    .textbox_login_password input[b-c297i7ee6f] {
        width: 100%;
        margin: 25px 0px;
        padding: 5px 36px 12px 12px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        box-sizing: border-box;
    }

.fa-eye[b-c297i7ee6f] {
    position: absolute;
    top: 40%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
}

.dropdown_login_domain[b-c297i7ee6f] {
    margin: auto;
    width: 70%;
}

.form-select[b-c297i7ee6f] {
    color: #808284;
    text-align: center;
}


.button_login_login[b-c297i7ee6f] {
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
    background-color: #7ec6ec;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 80px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 25px;
    cursor: pointer;
}

.link_login_loginHelp[b-c297i7ee6f] {
    text-align: center;
}

    .link_login_loginHelp a[b-c297i7ee6f] {
        color: rgb(135, 133, 133);
        text-decoration: none;
        font-size: 12px;
    }

.div3[b-c297i7ee6f] {
    grid-area: 1 / 5 / 6 / 6;
    justify-self: right;
}

    .div3 img[b-c297i7ee6f] {
        width: 200px;
        padding-top: 30%;
        opacity: .7;
    }
