

body {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: "Open Sans", "Helvetica", "sans-serif";
    background-color: rgb(248, 248, 248);
}

.ClientenOverzicht_titel {
    margin-top: 15px;
}
 h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
    }

.clientOverzicht_container {
    margin-top: 80px;
    margin-right: 80px;
    margin-left: 450px; 
    height: 800px;
    width: 500px;
}

.button_clientToevoegen {
    background-color: #7ec6ec;
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 25px;
    cursor: pointer;
}

.button_clientWijzigen {
    background-color: orange;
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 25px;
    cursor: pointer;
}

.button_clientVerwijderen {
    background-color: red;
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 25px;
    cursor: pointer;
}

.clientOverzicht_card {
    overflow: hidden;
    white-space: nowrap;
    background: #f4fbff;
    padding: 8px 20px;
    border-style: solid;
    border-color: #7ec6ec;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

    .clientOverzicht_card img {
        height: 60px;
        width: 60px;
    }

    .clientOverzicht_card .clientOverzicht_card_content {
        flex-grow: 1;
        padding: 10px 30px;
    }

    .clientOverzicht_card h2 {
        font-size: 14px;
        margin: 0;
        line-height: 1.4;
    }

    .clientOverzicht_card p {
        font-size: 12px;
        margin: 0;
        line-height: 1.4;
    }

.ButtonLine {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.media-img{
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
}

.media-img:hover{
    transform: scale(10.1);

 }

.media {
    display: flex;
    align-items: flex-start;
}

.media-body {
    flex: 1;
}

.media-img-wrapper {
    width: 200px;
    text-align: center;

}

@media (max-width:1023.98px) {
    .media {
        flex-direction: column;
     }

    .media-img-wrapper {
        
        width: 100%;
        height: auto;
    }
}
