

.clientOverzicht_container[b-1aaqcxse2m] {
 
}

.button_clientToevoegen[b-1aaqcxse2m] {
    background-color: #7ec6ec;
    height: auto;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.ButtonLine[b-1aaqcxse2m] {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}


.button_clientWijzigen[b-1aaqcxse2m] {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    background-color: orange;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
    margin-top: 10px;


}

.button_clientVerwijderen[b-1aaqcxse2m] {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 4px;
    background-color: red;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: normal; 
    word-wrap: break-word; 
    word-break: break-word; 
    margin-top: 10px;

}



.search-container[b-1aaqcxse2m] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

    .search-container input[b-1aaqcxse2m] {
        width: 200px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 0 5px;
    }

    .search-container button[b-1aaqcxse2m] {
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
        margin: 0 5px;
    }

.clientOverzicht_card[b-1aaqcxse2m] {
    overflow: hidden;
    white-space: nowrap;
    background: #f4fbff;
    padding: 8px 20px;
    border-style: solid;
    border-color: #7ec6ec;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: transform 0.3s;
}

    .clientOverzicht_card:hover[b-1aaqcxse2m] {
        transform: scale(1.1); 
    }

    .clientOverzicht_card img[b-1aaqcxse2m] {
        height: 60px;
        width: 60px;
        margin-right: 20px;
    }

.clientOverzicht_card_content[b-1aaqcxse2m] {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .clientOverzicht_card h2[b-1aaqcxse2m] {
        font-size: 14px;
        margin: 0;
        line-height: 1.4;
    }

    .clientOverzicht_card p[b-1aaqcxse2m] {
        font-size: 12px;
        margin: 0;
        line-height: 1.4;
    }

.clientOverzicht_card_container[b-1aaqcxse2m] {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    margin-bottom: 20px; 
}

.clientOverzicht_card_container2[b-1aaqcxse2m] {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    overflow: auto;
    margin: 0 auto;
    margin-bottom: 20px;
}
}

.media-img[b-1aaqcxse2m]{
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
}

.media-img:hover[b-1aaqcxse2m]{
    transform: scale(10.1);

 }

.media[b-1aaqcxse2m] {
    display: flex;
    align-items: flex-start;
}

.media-body[b-1aaqcxse2m] {
    flex: 1;
}

.media-img-wrapper[b-1aaqcxse2m] {
    width: 200px;
    text-align: center;

}
h3[b-1aaqcxse2m] {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: grey;
    background-color: #f2f2f2;
}

.ClientenOverzicht_titel[b-1aaqcxse2m] {
    background-color: white;
    padding: 10px;
    border-radius: 4px;
}

body[b-1aaqcxse2m] {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: "Open Sans", "Helvetica", "sans-serif";
    background-color: darkblue;
}

@media (max-width:1023.98px) {
    .media[b-1aaqcxse2m] {
        flex-direction: column;
     }

    .media-img-wrapper[b-1aaqcxse2m] {
        
        width: 100%;
        height: auto;
    }


}
