.navbar-toggler[b-jhq99vubdu] {
    background-color: #4098c7;
}

.top-row[b-jhq99vubdu] {
    background-color: gray;
}

.navbar-brand[b-jhq99vubdu] {
    font-size: 1.1rem;
}

.oi[b-jhq99vubdu] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-jhq99vubdu] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-jhq99vubdu] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-jhq99vubdu] {
        padding-bottom: 1rem;
    }


    .nav-item[b-jhq99vubdu]  a {
        color: gray;
    }

        .nav-item[b-jhq99vubdu]  a.active {
            background-color: darkgray;
            color: white;
        }

        .nav-item[b-jhq99vubdu]  a:hover {
            background-color: lightgray;
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-jhq99vubdu] {
        display: none;
    }

    .collapse[b-jhq99vubdu] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.oi oi-plus[b-jhq99vubdu] {

}
