@page "/fetchdata"
@using BlazorCCPro.Shared
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>





<main>
    <div class="search-container">
        <input class="clientList-textbar" type="text" placeholder="Zoek op naam" />
        <button class="clientList-zoek-button">Zoeken</button>
    </div>


    <section class="container clientList">
        <article class="innerContainer client-inner">

            

            <span class="client-inner-img">
                <img class="inner-profile-img" src="/ClientenOverzicht-img/profile-icon.png" alt="">
            </span>
            <div class="clientList-text">
                <h3>Amine Ahamari (13)</h3>
                <p>Langswater 710,1069 EG Amsterdam . 27-11-2009</p>
            </div>
            <div>
                <button class="clientList-button" type="button">Meer info</button>
            </div>
        </article>

        <article class="innerContainer client-inner">
            <span class="client-inner-img">
                <img class="inner-profile-img" src="/ClientenOverzicht-img/profile-icon.png" alt="">
            </span>
            <div class="clientList-text">
                <h3>Gijs vanDoorn (34)</h3>
                <p>Langswater 710, 1171 GN Badhoevendorp . 27-11-2009</p>
            </div>
            <div>
                <button class="clientList-button" type="button">Meer info</button>
            </div>
        </article>

        <article class="innerContainer client-inner">
            <span class="client-inner-img">
                <img class="inner-profile-img" src="/ClientenOverzicht-img/profile-icon.png" alt="">
            </span>
            <div class="clientList-text">
                <h3>CJ Bonis (20)</h3>
                <p>Langswater 710, 1398 CH Muiden . 27-11-2009</p>
            </div>
            <div>
                <button class="clientList-button" type="button">Meer info</button>
            </div>
        </article>

        <article class="innerContainer client-inner">
            <span class="client-inner-img">
                <img class="inner-profile-img" src="/ClientenOverzicht-img/profile-icon.png" alt="Image Description">
            </span>
            <div class="clientList-text">
                <h3>Husam Al Hamdany (15)</h3>
                <p>Brinkweg 91, 1221 RN Hilversum . 27-11-2009</p>
            </div>
            <div>
                <button class="clientList-button" type="button">Meer info</button>
            </div>
        </article>

        <article class="innerContainer client-inner">
            <span class="client-inner-img">
                <img class="inner-profile-img" src="/ClientenOverzicht-img/profile-icon.png" alt="Image Description">
            </span>
            <div class="clientList-text">
                <h3>Amine Ahamari (13)</h3>
                <p>Langswater 710,1069 EG Amsterdam . 27-11-2009</p>
            </div>
            <div>
                <button class="clientList-button" type="button">Meer info</button>
            </div>
        </article>

        <article class="innerContainer client-inner">
            <span class="client-inner-img">
                <img class="inner-profile-img" src="/ClientenOverzicht-img/profile-icon.png" alt="Image Description">
            </span>
            <div class="clientList-text">
                <h3>Gijs vanDoorn (34)</h3>
                <p>Langswater 710, 1171 GN Badhoevendorp . 27-11-2009</p>
            </div>
            <div>
                <button class="clientList-button" type="button">Meer info</button>
            </div>
        </article>

        <article class="innerContainer client-inner">
            <span class="client-inner-img">
                <img class="inner-profile-img" src="/ClientenOverzicht-img/profile-icon.png" alt="Image Description">
            </span>
            <div class="clientList-text">
                <h3>CJ Bonis (20)</h3>
                <p>Langswater 710, 1398 CH Muiden . 27-11-2009</p>
            </div>
            <div>
                <button class="clientList-button" type="button">Meer info</button>
            </div>
        </article>

        <article class="innerContainer client-inner">
            <span class="client-inner-img">
                <img class="inner-profile-img" src="/ClientenOverzicht-img/profile-icon.png" alt="Image Description">
            </span>
            <div class="clientList-text">
                <h3>Husam Al Hamdany (15)</h3>
                <p>Brinkweg 91, 1221 RN Hilversum . 27-11-2009</p>
            </div>
            <div>
                <button class="clientList-button" type="button">Meer info</button>
            </div>
        </article>
    </section>
</main>


















@*
<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}*@

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
    }
}
